::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0); 
}

::-webkit-scrollbar-thumb {
    background: #800000; 
}

::-webkit-scrollbar-thumb:hover {
    background: #800000; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    overflow: overlay;
}

header {
    background-color: #800000;
    color: white;
    padding: 5px;
    text-align: center;
}

.container {
    margin: 20px;
}
  
.tracker {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.deadline-tomorrow {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    color: red;
}
  
.activity {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.activity-dltm {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
  
.activity-title {
    font-weight: bold;
}

.activity-title-dltm {
    font-weight: bold;
}
  
.activity-deadline {
    color: #800000;
    font-weight: bold;
}

.activity-deadline-tm {
    color: #800000;
    font-weight: bold;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
  
.box {
    background-color: #800000;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 5px;
}

.box:hover {
    box-shadow: 0 0 10px lightcoral;
}

a {
    text-decoration: none;
}

.schedule-monday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-tuesday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-wednesday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-thursday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-friday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-saturday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.schedule-sunday {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.sched {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.subj {
    font-weight: bold;
}

.time {
    color: #800000;
    font-weight: bold;
}

.prof {
    font-weight: bold;
}

.code {
    font-weight: bold;
}

.links {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.link-mess {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.site {
    color: #800000;
    font-weight: bold;
}

.site a {
    color: #800000;
}

.link-discord {
    background-color: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.link-dc {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.dc {
    font-weight: bold;
}

.motivation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: bold;
    color: #800000;
    font-size: xx-large;
    text-align: center;
}
